@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900|Muli:400,900');

html{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5{
  font-family: 'Muli', sans-serif;
}

div{
  font-size: 16px;
}

.big-font{
  font-size: 18px;
}

.title-font{
  font-family: 'Muli', sans-serif;
}

.body-font{
  font-family: 'Montserrat', sans-serif;
}
